@import "src/styles.scss";

mat-card {
  margin: 1.3rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

li {
  padding: 0 0.2rem;
  text-decoration: none;
  list-style: none;
  align-self: center;
}

.list-item {
  width: 20%;
  padding-right: 0.5;
  border-bottom: 0;
}

.list-ellipsis {
  align-self: center;
}

.overview-title {
  margin-bottom: 0.3rem;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: $mediumGray;
}

.overview-content {
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  color: $black;
}
