<div class="card" [routerLink]="['/event', event._id]">
  <div class="card-content">
      <ul class="content flex-container">
        <li *ngFor="let eventProperty of eventOverview.properties" class="list-item">
          <p class="overview-title">{{ eventProperty.title }}</p>
          <p class="overview-content">{{ eventProperty.content }}</p>
        </li>
        <li class="list-ellipsis">
          <div class="dropdown is-right" [ngClass]="{'is-active': showDropdown}">
            <div class="dropdown-trigger">
            <button class="button is-white" (click)="toogleDropdown($event)">
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item" (click)="edit()">Edit Event</a>
                <a class="dropdown-item" (click)="delete()">Delete Event</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
