@import "../../../styles.scss";

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  padding: 0 0.2rem;
}

.overview-title {
  margin-bottom: 0 !important;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: $mediumGray;
}

.overview-content {
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  color: $black;
}

button {
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}
