<div id="event-filter">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="control">
          <input class="input" type="text" placeholder="Search for an event...">
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="select">
          <select>
            <option>Topic</option>
            <option>Angular</option>
          </select>
        </div>
      </div>

      <div class="column">
        <input class="input date" type="text" placeholder="Click to select a date" angular-mydatepicker #dp="angular-mydatepicker" name="mydate" [(ngModel)]="dateModel" [options]="myDpOptions" (click)="dp.toggleCalendar()" (dateChanged)="onDateChanged($event)" />
      </div>

      <div class="column">
        <div class="select">
          <select>
            <option>Location</option>
            <option>Copenhagen</option>
            <option>Aarhus</option>
            <option>This is a really long name for a city</option>

          </select>
        </div>
      </div>

      <div class="column">
        <div class="select">
          <select>
            <option>Price Range</option>
            <option>>$10</option>
            <option>>$20</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</div>
