@import '~@angular/material/theming';

$black: #000000;
$darkGray: #363636;
$mediumGray: #797979;
$lightGray: #C4C4C4;
$darkBlue: #1E3060;
$mediumBlue: #3273DC;

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $black;
  letter-spacing: 0.1px !important;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1380px;
  margin: 1rem auto;
  padding: 0 1rem;
}


.round-img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.svg-top {
  width: 80px;
  z-index: -1;
  position: absolute;
  top: -30px;
  right: -35px;
  fill: $lightGray;
}

.svg-bottom {
  width: 80px;
  z-index: -1;
  position: absolute;
  bottom: -35px;
  left: -30px;
  fill: $lightGray;
}

.title {
  color: $black;
  font-size: 1.2rem;
  font-weight: 500;
}

.email {
  text-transform: lowercase !important;
}
