$black: #000000;
$darkGray: #363636;
$mediumGray: #797979;
$lightGray: #C4C4C4;
$darkBlue: #1E3060;
$mediumBlue: #3273DC;

body {
  color: $black;
}

.container {
  padding: 0 1rem;
}

.card {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.round-img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.svg-top {
  width: 80px;
  z-index: -1;
  position: absolute;
  top: -30px;
  right: -35px;
  fill: $lightGray;
}

.svg-bottom {
  width: 80px;
  z-index: -1;
  position: absolute;
  bottom: -35px;
  left: -30px;
  fill: $lightGray;
}

.title {
  color: $black;
}

.email {
  text-transform: lowercase !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
