<div class="container">
  <section class="hero is-medium">
    <div class="img-container">
      <div class="svg-top">
        <svg-icon src="../../../../assets/dot-pattern.svg"></svg-icon>
      </div>
      <div class="svg-bottom">
        <svg-icon src="../../../../assets/dot-pattern.svg"></svg-icon>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">EVENTUX</h1>
          <h2>For the developers of tomorrow</h2>
        </div>
      </div>
    </div>
  </section>
  <div class="upcoming-events-container">
    <h3>Upcoming Events</h3>
    <app-event-list [events]="events$ | async"></app-event-list>
    <div class="flex-container">
      <button class="button is-link" routerLink="/events">See All Events</button>
    </div>
  </div>
</div>
