<a [routerLink]="['/event', event._id]">
  <div class="card">
    <div class="price">{{ event.price | currency : 'DKK' : 'symbol' : '1.0-0' }}</div>
    <div class="card-image">
      <figure class="image is-16by9">
        <img src={{event.img}} alt="Event image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h3 class="title is-4">{{ event.title }}</h3>
        </div>
      </div>
      <div class="content">
        <div class="flex-container">
          <p>{{ event.location.city }}, {{ event.location.country }}</p>
        </div>
        <div class="flex-container">
          <p>{{ event.date }}</p>
        </div>
        <div class="tags">
          <span *ngFor="let tag of event.tags" class="tag is-normal"><a>#{{ tag }}</a></span>
        </div>
      </div>
    </div>
  </div>
</a>
