.card {
  cursor: pointer;

  .media {
    margin-bottom: 1rem;
  }
}

.content {
  .flex-container {
    display: flex;
    align-items: baseline;

    p {
      margin: 0.3rem 0.5rem;
    }
  }
}

.tags {
  margin-top: 1.5rem;
}
