.card {
  cursor: pointer;
  height: 100%;

  .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.content {
  .flex-container {
    display: flex;
    align-items: baseline;

    p {
      margin: 0.3rem;
    }
  }
}

.event-description {
  max-height: 4.6em;
  overflow: hidden;

  p {
    margin-bottom: 0.6rem;
  }
}

.content {
  flex-grow: 1;
}

fa-icon {
  width: 20px;
  text-align: center;
}

.tags {
  flex-grow: 1;
}
