.hero {
  color: white;
}

.title {
  color: white;
}

.img-background {
    background-image: url(../../assets//hero-img.png);
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
