@import "src/styles.scss";

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  width: 100%;
}

.mat-toolbar {
  background-color: white;
}

span {
  font-size: 1.3rem;
  margin-right: 1rem;
  font-weight: 500;
}

button {
  margin: 0 0.3rem;
}

.avatar {
  width: 35px;
  height: 35px;
  max-height: inherit;
  align-self: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.menu {
  display: flex;
}

.button-menu {
  margin: 0;
}

mat-divider {
  margin: 0.3rem 0;
}
