<div class="search-container">
  <div class="field">
    <label class="label">Topic</label>
    <div class="select">
      <select>
        <option>JavaScript</option>
        <option>React</option>
        <option>Angular</option>
        <option>Vue</option>
        <option>Svelte</option>
      </select>
    </div>
  </div>
  <div class="field">
    <label class="label">Location</label>
    <div class="select">
      <select>
        <option>Copenhagen</option>
        <option>Aarhus</option>
      </select>
    </div>
  </div>
  <div class="control">
    <button class="button is-link">Search <fa-icon [icon]="faSearch"></fa-icon></button>
  </div>
</div>
