:host {
  height: calc(100vh - 56px);
}

.order-page-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.thank-you-message-container {
  flex: 1;
  text-align: center;
  margin-top: 6rem;

  @media only screen and (max-width: 1024px) {
    margin-bottom: 3rem;
  }
}

h1 {
  font-size: 2.6rem;
  font-weight: 600;
}

p {
  margin-top: 0.7rem;
  font-size: 1.1rem;
}
