@import "../../../styles.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;

}

h1 {
  color: $black;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  align-self: baseline;
  padding-top: 0.6rem;
}

a {
  color: $black;

  &:hover {
    background-color: unset;
    color: $black;
  }

  &:focus {
    background-color: unset;
    color: $black;
  }
}

.user-name {
  font-weight: 500;
  color: $black;
}

.navbar-dropdown {
  border: none;
}

.navbar-link:after {
  border-color: black !important;
}

.avatar {
  width: 35px;
  height: 35px;
  max-height: inherit;
  align-self: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
