<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="flex-container">
    <h1 class="navbar-item">Eventux</h1>

    <a role="button" class="navbar-burger burger" (click)="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active': showMenu}">
    <div class="navbar-start">
      <a routerLink="/" class="navbar-item">Home</a>
      <a routerLink="/events" class="navbar-item">All Events</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <ng-container *ngIf="currentUser; then logedIn; else logedOut"></ng-container>
      </div>
    </div>

    <ng-template #logedIn>
      <div class="navbar-item has-dropdown is-hoverable">
        <img src="{{currentUser.avatar}}" class="avatar"/>
        <a class="navbar-link user-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</a>
        <div class="navbar-dropdown is-right">
          <ng-container *ngIf="isAdmin()">
            <a class="navbar-item">Manage Events</a>
            <a class="navbar-item">Manage Teachers</a>
            <a class="navbar-item">Manage Venues</a>
          </ng-container>
          <a class="navbar-item">Settings</a>
          <hr class="navbar-divider">
          <a class="navbar-item">Logout</a>
        </div>
      </div>
    </ng-template>

    <ng-template #logedOut>
      <div class="buttons">
        <button routerLink="/" class="button is-white">Login</button>
        <button routerLink="/" class="button is-link">Sign Up</button>
      </div>
    </ng-template>
  </div>
</nav>

