.upcoming-events-container {
  margin-top: 6rem;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.columns {
  flex-wrap: wrap;
  padding: 2rem 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

button {
  font-weight: 600;
}
