@import 'src/styles.scss';

.section-title {
  font-size: 1.5rem;
  margin: 3rem 0 1rem;
  font-weight: bold;
  color: $black;
}

.price-input {
  flex-grow: 1;
}

.select, select {
  width: 100%;
}

.help {
  color: $mediumGray;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.delete {
  margin-left: 0.5rem !important;
}

.flex-container {
  display: flex;
}

.venue-image {
  width: 400px;
  border-radius: 4px;
  margin-right: 2rem;
}

.venue-flex-container {
  display: flex;
  flex-direction: column;
}

.website-link {
  margin-top: 1rem;
}
