@import 'src/styles.scss';

#event-form {
  .mat-form-field-infix {
    display: flex;
  }

  .mat-chip {
    background-color: mat-color($mat-grey, 200);
  }

  .close-btn {
    width: unset;
    height: unset;
  }

  .mat-icon {
    font-size: 1rem;
    margin-bottom: 0.1rem;
    line-height: 25px;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .flex-space-evenly {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      width: 48%;
    }
  }

  .topic-container {
    display: flex;
    justify-content: space-between;

    .input {
      display: flex;
      align-items: center;
      width: 48%;
    }

    .add-tag-btn {
      margin-left: 1rem;
    }

    mat-form-field {
      width: 90%;
    }

    mat-chip-list {
      width: 48%;
      display: flex;
    }
  }

  mat-form-field {
    margin-block: 0.7rem;
  }

  .section-title {
    font-size: 1.5rem;
    margin: 4rem 0 2rem;
    font-weight: 500;
    color: $black;
  }

  .venue-image {
    background-color: $black;
    width: 400px;
    height: 200px;
    margin-right: 2rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

  .venue-flex-container {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-bottom: 0.3rem;
  }

  .website-link {
    margin-top: 1rem;
    font-weight: 500;
    color: $black;
  }

  .teacher-image {
    background-color: $black;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .teacher-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;

    button {
      margin-left: 0.5rem;
    }
  }

  .flex-container {
    display: flex;
  }

  .details-title {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
