<form [formGroup]="eventForm">
  <section class="event-information">
    <p class="section-title">Event Information</p>
    <div class="columns">
      <div class="column is-full">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" formControlName="name">
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input class="input" type="text" formControlName="date">
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="field">
          <label class="label">Price</label>
          <div class="field has-addons">
            <p class="control"><a class="button is-static">$</a></p>
            <div class="control price-input">
              <input class="input" type="text" formControlName="price">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">
        <div class="field">
          <label class="label">Start Time</label>
          <div class="control">
            <div class="select">
              <select formControlName="startTime">
                <option *ngFor="let time of startTimes">{{ time }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="field">
          <label class="label">End Time</label>
          <div class="control">
            <div class="select">
              <select formControlName="startTime">
                <option *ngFor="let time of startTimes">{{ time }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">
        <div class="field">
          <label class="label">Topics</label>
          <div class="control">
            <input class="input" type="text" (keyup.enter)="addTag($event)" formControlName="tag">
          </div>
          <p class="help">Press enter to add a tag</p>
        </div>
      </div>
      <div class="column is-half tags-container">
        <div class="tags are-medium">
          <span class="tag" *ngFor="let tag of tags; index as index">#{{ tag }} <a class="delete is-small"
              (click)="deleteTag(index)"></a> </span>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-full">
        <div class="field">
          <label class="label">Description</label>
          <textarea class="textarea" rows="6" formControlName="description"></textarea>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-full">
        <div class="field">
          <label class="label">Image</label>
          <app-image-cropper (imageData)="imageData($event)"></app-image-cropper>
        </div>
      </div>
    </div>
  </section>

  <section class="event-information">
    <p class="section-title">Event Location</p>
    <div class="columns">
      <div class="column is-full">
        <div class="field">
          <label class="label">Venue</label>
          <div class="control">
            <div class="select">
              <select formControlName="startTime" formControlName="venueId">
                <ng-container *ngIf="venues">
                  <option *ngFor="let venue of venues" [ngValue]="venue._id" (click)="selectVenue(venue._id)">{{venue.name}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns" *ngIf="selectedVenue">
      <div class="column is-full">
        <div class="field">
          <label class="label">Venue details</label>
          <div class="flex-container">
            <img src="../../../assets/venue-img.png" alt="venue image" class="venue-image">
            <div class="venue-flex-container">
              <span>{{ selectedVenue.address }}</span>
              <span>{{ selectedVenue.zipcode }} {{ selectedVenue.city }}</span>
              <span>{{ selectedVenue.phoneNumber }}</span>
              <a class="website-link" [href]="selectedVenue.website" target="_blank">Venue's website <fa-icon [icon]="faLongArrowAltRight"></fa-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
</form>
