.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 2rem 0;
  align-items: flex-start;

  p {
    font-weight: bold;
  }

  .street {
    margin: 2rem 0 0.2rem 0;
  }

}

.register-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .card {
    height: fit-content;
    padding: .5rem;
    position: absolute;
    top: 10px;

    .card-content {
      padding: 2rem;

      .title {
        color: #363636;
        margin-bottom: 0.5rem;
      }

      .date {
        margin-bottom: 1rem;
      }

      .button {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

.event-content {
  margin-top: 5rem;
}


.tutor-container {
  // margin-top: 3rem;

  .tutor-description {
    p {
      margin: 0;
    }
  }
}
