<div class="card">
  <div class="card-content">
      <ul class="content flex-container">
        <li *ngFor="let overview of eventOverview.overview">
          <p class="overview-title">{{ overview.title }}</p>
          <p class="overview-content">{{ overview.content }}</p>
        </li>
        <li>
          <div class="dropdown is-right" [ngClass]="{'is-active': showDropdown}">
            <div class="dropdown-trigger">
            <button class="button is-white" (click)="toogleDropdown()">
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">Delete Event</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
