@import "src/styles.scss";

#event-card {
  .price {
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 7px 9px;
    top: 10px;
    left: 10px;
    color: $black;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  mat-card {
    padding: 0 !important;
  }

  .card-image {
    height: 250px;
  }

  img {
    margin: 0 !important;
    height: 100%;
    width: 100%;
  }

  .card-content {
    padding: 1rem;
  }

  p {
    margin-bottom: 5px;
  }

  .mat-card-header-text {
    margin: 0.5rem 0 0 !important;
  }

  .mat-chip {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
    background-color: mat-color($mat-grey, 200);
  }
}
