<div class="flex-container">
  <div class="img-container">
    <lib-cropper [imageFile]="fileInput" [options]="options" (fileChange)="fileChange($event)"></lib-cropper>
    <p *ngIf="!fileInput" class="no-image">No Image Selected</p>
  </div>

  <div class="file is-link">
    <label class="file-label">
      <input class="file-input" type="file" (change)="filePick($event)" accept="image/*" />
      <span class="file-cta">
        <span class="file-label">Upload Image</span>
      </span>
      <button class="button is-light" (click)="removeFile()">Remove</button>
    </label>
  </div>
</div>
