@import "src/styles.scss";

.container, .columns {
  height: 100%;
}

.hero-body {
  height: 100%;
  padding: 3rem 3rem !important;
}

.img-container {
  position: relative;
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem 0;
  background-size: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button {
  position: absolute;
  right: 90px;
  bottom: -30px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: 2.3rem 2rem;
  font-weight: 600;
}


.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 2rem 0;
  align-items: flex-start;

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
  }

  p {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
  }

  .teacher {
    margin-top: 1rem;
  }

  .location {
    margin-top: 2rem;
    color: white;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 0.5rem;
    }
  }

}

  .teacher-avatar {
    object-fit: cover;
    width: 64px;
    height: 64px;
  }

.register-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .card {
    height: fit-content;
    padding: .5rem;
    position: absolute;
    top: 10px;

    .card-content {
      padding: 2rem;

      .title {
        color: $black;
        margin-bottom: 0.5rem;
      }

      .date {
        margin-bottom: 1rem;
      }

      .button {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

.description {
  font-size: 0.9rem;
  line-height: 1.9;
  color: $mediumGray;
}

.event-content {
  margin-top: 2rem;
}

.teacher-container, .topics-container, .schedule-container, .share-container {
  margin-top: 3rem;
}

.teacher-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.media {
  display: flex;
  flex-direction: column;
}

.media-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    color: $black;
  }
}

.tag {
  color: $black;
}

.venue-container {

  .venue-img {
    height: 250px;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .venue-name {
    font-weight: 600;
  }

  p {
    margin-bottom: 0.3rem;
  }

  .venue-website {
    margin-top: 1rem;
    font-weight: 600;
    display: flex;
  }

  fa-icon {
    margin-left: 0.3rem;
    margin-top: 0.05rem;
  }

  .svg-venue {
    width: 80px;
    z-index: -1;
    position: absolute;
    top: 25px;
    right: -35px;
    fill: $lightGray;
  }

}

.schedule-container {
  p {
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
}


.social-container {
  display: flex;

  .social-circle {
    margin-right: 1.2rem;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-size: 1.2rem;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }

}

.related-events-container {
  margin-top: 10rem;
  margin-bottom: 5rem;

  .columns {
    flex-wrap: wrap;
    padding: 2rem 0;
  }
}
