@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$black: #000000;
$mediumGray: #797979;
$lightGray: #C4C4C4;
$darkBlue: #1E3060;
$mediumBlue: #3298DC;

body {
  color: $black;
  font-family: "Roboto", sans-serif;
}

.card {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.round-img {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
