@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$white: #FFFFFF;
$lightGray: #FAFAFA;
$gray: #6A7C94;

body {
  font-family: "Roboto", sans-serif;
  background-color: $lightGray;
}
